/**
 * Need to overload the background color and image for the active tab
 * widget since the WordPress 2.7 Dashboard has a non-white background.
 */
.tabs {
	background: #f9f9f9 url(images/tabs_bg.gif) repeat-x scroll center bottom;
}

.tabs li:hover a {
	background-color: #f9f9f9;
}

.tabs a {
	background:transparent url(images/tab_right_f9f9f9.gif) no-repeat scroll right top;
}


div.guidance  {
	background-color:#eeeeee;
	margin: 0px 50px 0px 50px ;
	padding: 5px;
}

#wpst_eventorder {
	background-color:#eeeeee;
	border: 2px solid #999999;
}

#wpst_eventorder tr.male {
	background-color: lightskyblue;
}

#wpst_eventorder tr.female {
	background-color: pink;
}

#wpst_eventorder th {
	padding: 2px 5px 2px 5px;
	font-size: 125%;
	text-align: left;
}

#wpst_eventorder td {
	padding: 3px 8px 2px 8px;
}

#wpst_reorder_events_msg {
	padding: 10px ;
	font-size: 125%;
	font-color: red;
}

/**
 * CSS definitions for custom dashboard menu
 */
#adminmenu #toplevel_page_swimteam:hover div.wp-menu-image,
#adminmenu #toplevel_page_swimteam div.wp-menu-image {
	background: transparent url('./images/icons/OnYourMarksBlack.png') no-repeat scroll 3px 5px;
}
#adminmenu #toplevel_page_swimteam.wp-has-current-submenu div.wp-menu-image,
#adminmenu #toplevel_page_swimteam.current div.wp-menu-image {
	background: transparent url('./images/icons/OnYourMarksWhite.png') no-repeat 3px 5px;
}

